__pycache__/
.vscode/
CustomBlenderproc/GeneratedScenesBop/
CustomBlenderproc/BackgroundTextures/
CustomBlenderproc/datasets/
CustomBlenderproc/venv/
CustomBlenderproc/blenderproc.egg-info/

CustomPoET/YoloOutput/
CustomPoET/YoloRuns/

Scripts/ven/

CustomPoET/PoetOutput/
CustomPoET/PoetDataset/
CustomPoET/InferenceOutput/

CustomPoET/PreTrained/

Datasets/